BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: All           # set to All to force return type on its own line, not required
AlwaysBreakAfterDefinitionReturnType: All # //

ColumnLimit: 80

ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
DerivePointerAlignment: false
PointerAlignment: Right
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: Never
Cpp11BracedListStyle: true

SortIncludes: true # set to false to keep original include order
